.editor {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border: 10px solid #191b1b;
  display: flex;
  overflow: hidden;
}
.editor > * {
  flex: 0 0 50%;
}
.editorEditor {
  background-color: #23302b;
  position: relative;
}

.editor-switch-container {
  background-color: #191b1b;
  display: flex;
  height: 32px;
}
.editor-switch-button {
  color: #aaa;
  font-size: 18px;
  background-color: #141b19;
  border: 1px solid #141b19;
}
.editor-switch-button:focus {
  border: 1px solid #64ed98;
  outline: none;
}
.editor-switch-button.current {
  background-color: #23302b;
  border: 1px solid #23302b;
  color: white;
}
.editor-switch-button:not(:first-child) {
  margin-left: 10px;
}

.veditor-warning {
  margin: 25px 0px;

  color: red;
  font-size: 14px;

  background-color: #381c1c;
  border: 5px solid #ff1616;
  padding: 10px;
}

.veditor-scroll {
  overflow-y: auto;
  height: 100%;
}
.veditor {
  margin: auto;
  max-width: 550px;
  padding-left: 25px;
  padding-right: 25px;
}
.veditor h2 {
  font-weight: normal;
  font-size: 24px;
}
.helper-text {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 0;
}
textarea {
  width: 100%;
  resize: none;
}
textarea,
input,
button {
  background-color: #203f33;
  border: 1px solid #203f33;
  color: white;
  padding: 4px;
}
textarea:focus,
input:focus,
button:focus {
  border: 1px solid #64ed98;
  outline: none;
}

button:hover {
  background-color: #295242;
  border: 1px solid #295242;
}
button:active {
  background-color: #64ed98;
  border: 1px solid #64ed98;
}

.veditor .checkbox {
  position: relative;
}
.veditor .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.veditor .checkbox .display {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #203f33;
}

/* On mouse-over, add a grey background color */
.veditor .checkbox:hover input ~ .display {
  background-color: #295242;
}

/* When the checkbox is checked, add a blue background */
.veditor .checkbox input:checked ~ .display {
  background-color: #64ed98;
}

/* Create the checkmark/indicator (hidden when not checked) */
.veditor .display:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.veditor .checkbox input:checked ~ .display:after {
  display: block;
}

/* Style the checkmark/indicator */
.veditor .checkbox .display:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.veditor .checkbox .label {
  padding-left: 36px;
}

.spacing-left {
  margin-left: 10px;
}
.spacing-right {
  margin-right: 10px;
}

.veditor-separator {
  border-bottom: 1px solid white;
}

.preview-toolbar {
  display: flex;
  height: 32px;
  background-color: #191b1b;
  line-height: 32px;
}
.preview-toolbar button {
  color: #aaa;
  font-size: 18px;
  background-color: #203f33;
  border: 1px solid #203f33;
  margin-right: 10px;
}
.preview-toolbar button:focus {
  border: 1px solid #64ed98;
  outline: none;
}
.preview-toolbar button:active {
  background-color: #64ed98;
  color: black;
}

.publish-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  font-size: 48px;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.publish-overlay > span {
  margin-bottom: 20px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
