.scene {
}

.option {
  color: #64ed98;
  list-style: square;
}

.optionLink {
  color: inherit;
}

.optionLink:not(:hover) {
  text-decoration: none;
}

.optionDisabled {
  pointer-events: none;
  color: rgb(83, 83, 83);
}
.optionBrokenLink {
  color: #f53838;
}

.optionSeparator {
  height: 20px;
  list-style-type: none;
}

.source {
  margin-top: 70px;
  color: grey;
  font-size: 75%;
}
